.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

    img {
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: var(--text-color);
        transition: transform 0.5s ease;
    }

    .projectsContainer a:hover {
        transform: scale(1.1, 1.1);
    }

    p {
        font-size: 12px;
        /* word-break:break-all; */
    }
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (width >=800px) {
    .container {
        margin-bottom: 0;
    }
    
    .projectsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }

    .projectsContainer:hover a:not(:hover) {
        filter: blur(5px);
        transform: scale(0.9, 0.9);
    }
}